.btn {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  border-radius: $input-border-radius;
  color: $white;
  box-shadow: $input-box-shadow;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: 100ms ease-in-out;

  &:hover {
    background-color: darken($primary-color, 2);
    color: #fff;
    text-decoration: none;
  }

  &.share-btn {
    &.fb {
      border: 1px solid $fb-color;
      background-color: $fb-color;

      &:hover {
        border: 1px solid darken($fb-color, 5);
        background-color: darken($fb-color, 5);
      }
    }

    &.twitter {
      border: 1px solid $twitter-color;
      background-color: $twitter-color;

      &:hover {
        border: 1px solid darken($twitter-color, 5);
        background-color: darken($twitter-color, 5);
      }
    }
  }
}

.btn-row {
  .btn {
    display: block;
  }

  .btn + .btn {
    margin-top: 0.75rem;
  }

  @media (min-width: 40.0rem) {
    .btn {
      display: inline-block;
    }

    .btn + .btn {
      margin-left: 1rem;
    }
  }
}
