.Header {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0 0 2rem;
  color: #000;

  img {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;

    @media (min-width: 40.0rem) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
